*{
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    height: 4rem;
    background-color: black;
    color: #fff;
    display: flex;
    align-items: center;
}
.nav-logo{
    height:3rem;
    width: 6rem;
    margin-right:1.4rem;
}

.logo{
    background-image: url(amazon_logo.webp);
    height: 32px;
    width: 95px;
    background-size: cover;
    margin-top: 1rem;
    margin-left: 0.2rem;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px #fff solid;
}
.address-first{
   color: #cccccc;
   font-size: 12px;
   margin-left: 1rem;
   margin-top: 5px;
   margin-right: 2rem;
}
.address-second{
    color: #fff;
    font-size: 15px;
    display: flex;
    margin-top: 8px;
}
.navbar-search{
    height: 1.5rem;
    width: 11rem;
    border-radius: 7px;
    display: flex;
    border: none;
    margin-left: 2rem;
}
/**complete address**/
.search-button{
    background-color: rgb(224, 112, 7);
    height: 1.8rem;
    width: 5rem;
    border-top-right-radius:7px;
    border-bottom-right-radius: 7px;
    border: none;
}
#dropdown{
    width: 4rem;
    height: 1.8rem;
    border-top-left-radius:7px;
    border-bottom-left-radius: 7px;
    border: none;
}
.searchbar{
    height: 1.8rem;
    width: 30rem;
    border: none;
    font-size: 18px;
}
/**complete search bar**/
.navbar-signin{
    color: #fff;
    margin-left: 12rem;
    margin-right: 3rem;
}
#Hello{
    font-size: 12px;
}
/**complete sign**/
.navbar-returns{
    color: #fff;
}
#Returns{
    font-size: 12px;
}
.navbar-cart i{
    font-size: 35px;
    color: #fff;
    margin-left: 2rem;
}
/**start panel**/
.panel{
    background-color: #222f3d;
    display: flex;
    justify-content: flex-start;
    color: #fff;
    padding-left: 5px;
    width: 200%;
}
.options{
    display:flex;
    color: #fff;
    width: 75%;
    font-size: 14px;
}
.para{
    margin-left: 2rem;
}
.All{
    color: #fff;
    font-size: 14px;
}
/**complete paragraph**/
.home{
    height: 300px;
    background-image: url(home_cover.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
}
.home-text{
    background-color: #fff;
    height: 3rem;
    font-size: 14px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    position: relative;
    top: 80%;
    opacity: 1.2;
}
.home-text a{
    color: #007185;
}
/**complete home background**/
.shop-section{
    background-color: #e2e7e6;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.box1{
    height: 400px;
    width: 21%;
    background-color: #fff;
    color: black;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.box2{
    height: 400px;
    width: 21%;
    background-color: #fff;
    color: black;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.box3{
    height: 400px;
    width: 21%;
    background-color: #fff;
    color: black;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.box4{
    height: 400px;
    width: 21%;
    background-color: #fff;
    color: black;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.box5{
    height:395px;
    width: 21%;
    background-color: #fff;
    color: black;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
}
.box6{
    height: 395px;
    width: 21%;
    background-color: #fff;
    color: black;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
}
.box7{
    height: 395px;
    width: 21%;
    background-color: #fff;
    color: black;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
}
.box8{
    height:395px;
    width: 21%;
    background-color: #fff;
    color: black;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 0.7rem;
    margin-top: 1rem;
}
/**complete div**/
/**styling div**/
.box1-image{
    background-size: cover;
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box1 p{
    color: #007185;
}
/**complete box1**/
.box2-image{
    background-size: cover;
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box2 p{
    color: #007185;
}
/**complete box2**/
.box3-image{
    background-size: cover;
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box3 p{
    color: #007185;
}
/**complete box3**/
.box4-image{
    background-size: cover;
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box4 p{
    color: #007185;
}
/**complete box4**/
.box5-image{
    background-size: cover;
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box5 p{
    color: #007185;
}
/**complete box5**/
.box6-image{
    background-size: cover;
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box6 p{
    color: #007185;
}
/**complete box6**/
.box7-image{
    background-size: cover;
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box7 p{
    color: #007185;
}
/**complete box7**/
.box8-image{
    background-size: cover;
    height: 300px;
    margin-top: 1rem;
}
.box8 p{
    color: #007185;
}
/**complete box8**/
.largebar_section{
    height: 320px;
    background-color:#e2e7e6;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
}
.top-section{
    background-color: #fff;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    margin-right: 0.7rem;
}
.top-section img{
    margin-left: 1rem;
    margin-top: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
}
/**complete largebar**/
.footer{
    background-color: #37475a;
    height: 390px;
    display: flex;
    flex-direction: column;
}
#back{
    height: 30px;
    background-color: #232f3e;
    color: #fff;
    font-size: 13px;
    padding-top: 10px;
    padding-bottom: 8px;
    display: flex;
    justify-content: center;
}
/**start main footer**/
.foot-panel1{
    font-size: 16px;
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
}
ul a{
    display: block;
    font-size: 0.85rem;
    color: #dddddd;
    margin-top: 10px;
    margin-bottom: 1rem;
}
ul p{
    padding-top: 2rem;
    padding-bottom: 0.55rem;
}
.foot-panel2{
    background-color: #37475a;
    border-top: 2px solid white;
    height: 500px;
    color: #fff;
    height: 400px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.logo2{
    background-image: url(amazon_logo.webp);
    height: 32px;
    width: 95px;
    background-size: cover;
    margin-top: 1rem;
    margin-left: 0.2rem;
}
.foot-panel3{
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
.foot-panel3 p{
    font-size: 12px;
}
.foot-panel4{
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
.foot-panel4 p{
    font-size: 12px;
}
/**start pc linked page**/
.pc{
    overflow: hidden;
}
.main{
    display: flex;
}
.sidebar{
    height: 700px;
    width: 330px;
    overflow: scroll;
}
.sidebar-top{
    height: 60px;
    width: 229px;
    font-size: 16px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}
.sidebar1{
    height: 80px;
    width: 229px;
    font-size: 16px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}
.sidebar2{
    height: 110px;
    width: 229px;
    font-size: 16px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}
.sidebar3{
    height: 130px;
    width: 229px;
    font-size: 16px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}
.sidebar4{
    height: 130px;
    width: 229px;
    font-size: 16px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}
.sidebar5{
    height: 210px;
    width: 229px;
    font-size: 16px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}
.sidebar6{
    height: 195px;
    width: 229px;
    font-size: 16px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}
.sidebar7{
    height: 55px;
    width: 235px;
    font-size: 16px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}
.sidebar5-btn{
    width: 15%;
    border-radius: 4px;
}
.main-content{
    flex: 1;
    margin-left: 13px;
    overflow: scroll;
    height: 700px;
}
.bg-image{
    background-image: url(pc_background.jpg);
    background-size: cover;
    height: 150px;
    margin-bottom: 10px;
}
.main-head{
    font-size: 14px;
    color: #0f1111;
    padding-left: 5px;
    margin-bottom: 10px;
}
.main-head h3{
    font-size: 20px;
}
/**computer lists**/
.main-com1 img{
    height: 211px;
    width: 273px;
    margin-top: 8px;
    margin-left: 10px;
}
.main-com1{
    display: flex;
    height: 250px;
    width: 810px;
    background-color: rgb(253, 244, 244);
}
.com1-text{
    height: 200px;
    width: 530px;
    margin-top: 10px;
    padding-left: 10px;
}
.com1-text a{
    color: #0f1111;
}
.com1-text a:hover{
    color: blue;
}
#main-com1-head{
    font-size: medium;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.com1-text2{
    height: 2rem;
    width: 530px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #565959;
}
.com1-text3{
    height: 45px;
    width: 530px;
    display: inline;
}
#doller{
    font-size: 14px;
    color: #0f1111;
}
#price{
    height: 33px;
    font-size: 18px;
    color: #0f1111;
}
.com-text4{
    font-size: 12px;
    color: #0f1111;
    margin-top: 5px;
}
#stock{
    color: rgb(235, 154, 4);
    font-size: 14px;
}
.com-text5{
    height: 30px;
    width: 90px;
    border-radius: 15px;
    margin-top: 10px;
    background-color: rgb(235, 154, 4);
}
.com-text5 p{
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
}
/**second computer img**/
.main-com2 img{
    height: 211px;
    width: 273px;
    margin-top: 8px;
    margin-left: 10px;
}
.main-com2{
    display: flex;
    height: 250px;
    width: 810px;
    background-color: rgb(253, 244, 244);
}
.com2-text{
    height: 350px;
    width: 530px;
    margin-top: 10px;
    padding-left: 10px;
}
.com2-text a{
    color: #0f1111;
}
.com2-text a:hover{
    color: blue;
}
#main-com2-head{
    font-size: medium;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.com2-text2{
    height: 2rem;
    width: 530px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #565959;
}
.com2-text3{
    height: 45px;
    width: 530px;
    display: inline;
}
#doller{
    font-size: 14px;
    color: #0f1111;
}
#price{
    height: 33px;
    font-size: 18px;
    color: #0f1111;
}
.com2-text4{
    font-size: 12px;
    color: #0f1111;
    margin-top: 5px;
}
#stock{
    color: rgb(235, 154, 4);
    font-size: 14px;
}
.com2-text5{
    height: 30px;
    width: 90px;
    border-radius: 15px;
    margin-top: 10px;
    background-color: rgb(235, 154, 4);
}
.com2-text5 p{
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
}
/**copmlete computer 2**/
.main-com3 img{
    height: 211px;
    width: 273px;
    margin-top: 8px;
    margin-left: 10px;
}
.main-com3{
    display: flex;
    height: 350px;
    width: 810px;
    background-color: rgb(253, 244, 244);
}
.com3-text{
    height: 350px;
    width: 530px;
    margin-top: 10px;
    padding-left: 10px;
}
.com3-text a{
    color: #0f1111;
}
.com3-text a:hover{
    color: red;
}
#main-com3-head{
    font-size: medium;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.com3-text2{
    height: 2rem;
    width: 530px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #565959;
}
.com3-text3{
    height: 45px;
    width: 530px;
    display: inline;
}
#doller{
    font-size: 14px;
    color: #0f1111;
}
#price{
    height: 33px;
    font-size: 18px;
    color: #0f1111;
}
.com3-text4{
    font-size: 12px;
    color: #0f1111;
    margin-top: 5px;
}
.com3-text5{
    height: 30px;
    width: 90px;
    border-radius: 15px;
    margin-top: 10px;
    background-color: rgb(235, 154, 4);
}
.com3-text5 p{
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
}
/**complete computer 3**/

